@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IBM Plex Sans";
  src: url("../src/assets/fonts/IBMPlexSans-Variable.ttf")
    format("truetype-variations");
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Press Start 2P";
  src: url("../src/assets/fonts/PressStart2P-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
}
